N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [7]:
N = int(input())
print('N * 1 =', N*1
     'N * 2 =', N*2
     'N * 3 =' N*3
     'N * 4 =' N*4
     'N * 5 =' N*5
     'N * 6 =' N*6
     'N * 7 =' N*7
     'N * 8 =' N*8
     'N * 9 =' N*9, sep = '\n')

SyntaxError: invalid syntax (Temp/ipykernel_109924/3009649595.py, line 3)

In [5]:
N = int(input())
print('N * 1 =', N*1)

3
N * 1 = 3

In [6]:
N = int(input())
print('N * 1 =', N*1
     'N * 2 =', N*2)

SyntaxError: invalid syntax (Temp/ipykernel_109924/1373531430.py, line 3)

In [8]:
N = int(input())
print('N * 1 =', N*1,
     'N * 2 =', N*2)

2
N * 1 = 2 N * 2 = 4

In [11]:
N = int(input())
print('N * 1 =', N*1,
     'N * 2 =', N*2,
     'N * 3 =', N*3,
     'N * 4 =', N*4,
     'N * 5 =', N*5,
     'N * 6 =', N*6,
     'N * 7 =', N*7,
     'N * 8 =', N*8,
     'N * 9 =', N*9, sep = '\n')

3
N * 1 =
3
N * 2 =
6
N * 3 =
9
N * 4 =
12
N * 5 =
15
N * 6 =
18
N * 7 =
21
N * 8 =
24
N * 9 =
27

In [12]:
N = int(input())
print('N * 1 =', (N*1),
     'N * 2 =', N*2,
     'N * 3 =', N*3,
     'N * 4 =', N*4,
     'N * 5 =', N*5,
     'N * 6 =', N*6,
     'N * 7 =', N*7,
     'N * 8 =', N*8,
     'N * 9 =', N*9, sep = '\n')

3
N * 1 =
3
N * 2 =
6
N * 3 =
9
N * 4 =
12
N * 5 =
15
N * 6 =
18
N * 7 =
21
N * 8 =
24
N * 9 =
27

In [15]:
N = int(input())
print(N * 1 =, N*1)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_109924/888630340.py, line 2)

In [19]:
N = input()
print('N * 1 = 'int(N*1))

SyntaxError: invalid syntax (Temp/ipykernel_109924/499822412.py, line 2)

In [22]:
N = input()
print(N, '* 1 =', N*1)

3
3 * 1 = 3

In [24]:
N = input()
print(N, '* 1 =', N*1,
     N, '* 2 =', N*2,
     N, '* 3 =', N*3,
     N, '* 4 =', N*4,
     N, '* 5 =', N*5,
     N, '* 6 =', N*6,
     N, '* 7 =', N*7,
     N, '* 8 =', N*8,
     N, '* 9 =', N*9)

3
3 * 1 = 3 3 * 2 = 33 3 * 3 = 333 3 * 4 = 3333 3 * 5 = 33333 3 * 6 = 333333 3 * 7 = 3333333 3 * 8 = 33333333 3 * 9 = 333333333

In [26]:
N = input()
print(N, '* 1 =', int(N)*1,
     N, '* 2 =', int(N)*2,
     N, '* 3 =', int(N)*3,
     N, '* 4 =', int(N)*4,
     N, '* 5 =', int(N)*5,
     N, '* 6 =', int(N)*6,
     N, '* 7 =', int(N)*7,
     N, '* 8 =', int(N)*8,
     N, '* 9 =', int(N)*9)

3
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27

In [29]:
N = input()
for i in range(1, 10):
    print(N, '*', i, '=', int(N)*i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27